spring:
  main:
    allow-bean-definition-overriding: true
  config:
    activate:
      on-profile: dev
  devtools:
    add-properties: true
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          time_zone: Asia/Ho_Chi_Minh
    show-sql: false
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
#  sql:
#    init:
#      mode: always
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


environment:
  info: develop_environment

# application-dev.yml
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
openapi:
  service:
    api-docs: vsv-shop
    server: http://localhost:${server.port}
    title: VSV SHOP API
    version: 1.0.0
app:
  jwt:
    secret: ${JWT_SECRET_KEY}
    expiration-milliseconds: ${JWT_EXPIRATION}
    refresh-expiration-milliseconds: ${JWT_REFRESH_EXPIRATION}
  redis:
    port: ${REDIS_PORT}
    host: ${REDIS_HOST}
    password: ${REDIS_PASSWORD}
  otp:
    expiration-minutes: 15
cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}